
.navbar.navbar-default {
  margin-bottom: 0px;
  font-family: 'Raleway', serif;
}

.jumbotron {
  height:350px;
  width: 100%;
  background: url('/Users/Home/Desktop/amipro website/img/uhm8memevyq-jace-grandinetti.jpg') no-repeat center center fixed; 
  background-size: cover;
  font-weight: bold;
}

.jumbotron .container {
  margin-left: 80px;
  width:650px;
  color: white;
  font-family: 'Raleway', serif;
}

.jumbotron .container .main p {
  font-size: 50px;
  font-weight: bold; 
}

.jumbotron .container .terms {
  margin-top: -20px;
}

.jumbotron .container .button {
  margin-left: 470px;
  border:1px solid white;
  border-radius:0px
  background-color:transparent;
  padding:3px;
  text-decoration: none;
  font-size: 10px; 
  color:white;
  font-weight: bold;
}

.jumbotron .container a:visited {
  color:white;
}

.supporting .title {
  text-align: center;
  font-family: 'Raleway', serif;
  color:#333333;
  font-size: 28px;
  font-weight: bold;
}

.supporting .text {
  font-family: 'Raleway', serif;
  color:#333333;
  font-size:18px;
  width: 75%;
  margin: auto;
  margin-bottom: 40px;
}

.wrapper {
    text-align: center;
}

.supporting .text .wrapper a {
  text-align: center;
  background-color: #333;
  color: #fff;
  font-weight: bold; 
  font-size: 18px;
  width:350px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  padding: auto;
  margin-top: 30px;
}

.how-it-works{
  background-color:#333333;
  margin-top:-5rem;
  padding-top:6.2rem;
  text-align:center;
  position:relative;
}

.how-it-works p {
  font-family:'Raleway', serif;
  letter-spacing: 1.3px;
  font-size: 30px;
  color:white;
  margin-top: -25px;
}

.how-it-works .buyers-and-sellers-buttons-container {
  background:#333333;
  color:white;
  font-family: 'Raleway', serif;
}






