CONN

http://ctreal.com/homesnap-pro/

* Notarized reciprocal state application
* Certification of license history
* Submit above documents. Then you will receive an 
Examination Eligibility Postcard with instructions to register 
and schedule the examination.

NH

https://www.neren.com/

https://www.oplc.nh.gov/real-estate-commission/forms.htm

II. The commission, or designee, shall issue a broker's license to any applicant who:
       (a) Has attained the age of 18;
       (b) Has successfully completed an examination administered or approved by the commission 
       which demonstrates satisfactory knowledge and understanding of the principles of real estate
        practice. The commission, or designee, shall only accept for licensure, an applicant who shows 
        proof of completion of 60 hours of approved study which shall have been completed prior to the 
        date of the applicant's examination;
       (c)(1) Has been employed full time by an active principal broker for at least one year 
       within 5 years of the date of application; or
          (2) Has at least 2,000 part-time hours as a licensed salesperson in this state 
          within 5 years of the date of application; or
          (3) Proves to the commission that the applicant has experience equivalent to the 
          experience required by subparagraph (c)(1) or (c)(2);
       (d) Demonstrates no record of unprofessional conduct;
       (e) Furnishes any evidence required by the commission relative to good reputation 
       for honesty, trustworthiness and integrity;
       (f) For a broker acting as a principal broker or a managing broker, but excluding 
       associate brokers or a corporation, partnership, limited liability company, or 
       association, files a surety bond with the commission which shall be held in accordance 
       with RSA 331-A:14;
       (g) Submits evidence acceptable to the commission of at least 6 separate real estate 
       transactions in which the applicant was actively involved and was compensated or proves 
       to the commission that the applicant has equivalent experience; and
       (h) Complies with the criminal records check under RSA 331-A:10-a.
       

RI

Can get on MLS without brokers license: fill out documents emailed by lady 4.20

